.login_register {
  background-color: white;
}
.login_register_title {
  margin-bottom: 30px;
  margin-top: 0;
  text-align: center;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 899;
}
.login {
  background: white;
  -webkit-box-shadow: 0px 0px 150px 0px rgba(78, 67, 250, 0.06);
  box-shadow: 0px 0px 150px 0px rgba(78, 67, 250, 0.06);
  overflow: hidden;
  padding: 30px;
  border: 1px solid #151a32;
}
.login input {
  margin-bottom: 30px;
  background: #f4f4f4;
  height: 50px;
}
.login input:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.register {
  background: #151a32;
  -webkit-box-shadow: 0px 0px 150px 0px rgba(78, 67, 250, 0.06);
  box-shadow: 0px 0px 150px 0px rgba(78, 67, 250, 0.06);
  overflow: hidden;
  padding: 30px;
  border: 1px solid #151a32;
}
.register input {
  margin-bottom: 30px;
  background: #f4f4f4;
  height: 50px;
}
.register input:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.login label {
  margin-bottom: 5px;
  font-weight: 500;
}
.register label {
  margin-bottom: 5px;
  font-weight: 500;
}
