.our-team {
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 150px 0px rgba(78, 67, 250, 0.06);
  box-shadow: 0px 0px 150px 0px rgba(78, 67, 250, 0.06);
  border: 1px solid #151a32;
  padding: 30px;
  background: #151a32;
}
@media only screen and (max-width: 880px) {
  .our-team {
    margin-bottom: 30px;
  }
}
.single-team {
  margin-bottom: 10px;
}
.single-team img {
  margin-bottom: 20px;
  width: 150px;
  border-radius: 50%;
}
.single-team h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}
.single-team p {
  margin-bottom: 0px;
}

.our-team .social {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.our-team .social li {
  display: inline-block;
}
.our-team .social li a {
  display: block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 15px;
  color: #fff;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  border-radius: 30px;
  margin: 3px;
}
.our-team:hover .social li:nth-child(1) a {
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.our-team:hover .social li:nth-child(2) a {
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.our-team:hover .social li:nth-child(3) a {
  -webkit-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.our-team:hover .social li:nth-child(4) a {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.our-team .social li a:hover {
  border: 1px solid #eee;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.facebook {
  background: #1c58a1;
  border: 1px solid #1c58a1;
}
.facebook:hover {
  background: #fff;
  color: #1c58a1 !important;
}
.twitter {
  background: #0cbce3;
  border: 1px solid #0cbce3;
}
.twitter:hover {
  background: #fff;
  color: #0cbce3 !important;
}
.linkedin {
  background: #0e76a8;
  border: 1px solid #0e76a8;
}
.linkedin:hover {
  background: #fff;
  color: #0e76a8 !important;
}
