.faq_area {
  padding-bottom: 50px;
  background-color:#A7E6FF;
}
.accordion-item {
  border: 1px solid #0cc0df;
  margin-bottom: 15px;
  -webkit-box-shadow: 0px 0px 150px 0px rgba(78, 67, 250, 0.06);
  box-shadow: 0px 0px 150px 0px rgba(78, 67, 250, 0.06);
  /* background: #151a32 !important; */
  background:#0cc0df !important;
  border-radius: 30px;
  margin-bottom: 20px;
}
.accordion-item:not(:first-of-type) {
  border-top: 1px solid #0cc0df;
}

.accordion-header {
  /* background: #151a32 !important; */
  background: #0cc0df !important;
  padding: 7px 0;
  border-radius: 30px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.accordion-body {
  color: black;
  background: #0cc0df;
}
.accordion-button {
  background: none !important;
  color: #fff !important;
  font-weight: 700;
  font-size: 20px !important;
}
.accordion-button:not(.collapsed) {
  color: #fff !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.accordion-button:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
