.ss_case_one {
  padding: 30px;
  border: 1px solid #ffe06f;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 150px 0px rgba(78, 67, 250, 0.06);
  box-shadow: 0px 0px 150px 0px rgba(78, 67, 250, 0.06);
  overflow: hidden;
}
.ss_case_one img {
  float: left;
  margin-right: 30px;
  width: 300px;
}
.ss_case_one h2 {
  font-weight: 700;
  font-size: 46px;
  margin-bottom: 20px;
  overflow: hidden;
  padding-top: 50px;
}
.ss_case_one p {
  overflow: hidden;
}

.ss_case_two {
  padding: 30px;
  border: 1px solid #ffe06f;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 150px 0px rgba(78, 67, 250, 0.06);
  box-shadow: 0px 0px 150px 0px rgba(78, 67, 250, 0.06);
  overflow: hidden;
}
.ss_case_two img {
  width: 300px;
}
.ss_case_two h2 {
  margin-top: 50px;
  font-weight: 700;
  font-size: 46px;
  margin-bottom: 20px;
  overflow: hidden;
}
.ss_case_two p {
  overflow: hidden;
}
.ss_case_left {
  float: left;
  margin-right: 30px;
  width: 534px;
}
@media only screen and (max-width: 768px) {
  .ss_case_left {
    margin-right: 0px;
    margin-bottom: 60px;
    width: 100%;
  }
}
.ss_case_mr {
  margin-bottom: 250px;
}
