.top-feature {
}
.single_tf {
  background: #151a32;
  padding: 60px 50px;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  margin-bottom: 30px;
  position: relative;
  -webkit-box-shadow: 0 0 60px rgba(0, 0, 0, 0.09);
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.09);
}
.single_tf:hover {
  background: #151a32;
  -webkit-transform: translate(0, -5px);
  -ms-transform: translate(0, -5px);
  transform: translate(0, -5px);
}
.single_tf span {
  background: #ffe06f;
  margin-bottom: 30px;
  width: 80px;
  height: 80px;
  line-height: 70px;
  border-radius: 100px;
  display: inline-block;
  color: #232434;
  font-size: 30px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.single_tf:hover.single_tf span {
  background: #3f3eed;
  color: #fff;
}
.single_tf h3 {
  font-weight: 700;
  font-size: 22px;
  padding-bottom: 15px;
}
.single_tf p {
  margin-bottom: 0px;
}
