.partner_title h3 {
	margin-bottom: 60px;
	font-size: 18px;
	font-weight: 700;
	background:#ffe06f;
	padding: 10px;
	border-radius: 30px;
	width: 60%;
	margin: auto;
	margin-bottom: 60px;
	color: #232434;
}