.price_area {
  background: #151a32;
}

.pricing-content {
  position: relative;
}
.pricing_design {
  position: relative;
}
@media only screen and (max-width: 880px) {
  .pricing_design {
    margin-bottom: 30px;
  }
}
.pricing_design .single-pricing {
  background: #ffe06f;
  padding: 60px 40px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 150px 0px rgba(78, 67, 250, 0.06);
  box-shadow: 0px 0px 150px 0px rgba(78, 67, 250, 0.06);
  position: relative;
  z-index: 1;
}
.pricing_design .single-pricing:before {
  content: "";
  background-color: #0e1123;
  width: 100%;
  height: 100%;
  border-radius: 18px 18px 190px 18px;
  border: 1px solid #0e1123;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.price-head {
  border-bottom: 1px solid #ffe06f;
  padding-bottom: 30px;
}
.price-head h2 {
  /* margin-bottom: 20px; */
  font-size: 26px;
  font-weight: 700;
}
.price-head h1 {
  font-weight: 700;
  margin-top: 10px;
}
.price-head span {
  display: block;
}
.upgrade_price {
  text-decoration: underline;
  font-weight: 700;
  margin-top: 5px;
  color: #ffe06f;
}
.single-pricing ul {
  list-style: none;
  margin-top: 30px;
}
.single-pricing ul li {
  line-height: 44px;
}
.single-pricing ul li span {
  background: rgba(255, 224, 111, 0.2);
  color: #ffe06f;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  margin-right: 6px;
  display: inline-block;
}
.pricing-price {
}

.price_btn {
  background: #ffe06f;
  padding: 10px 30px;
  color: #232434;
  display: inline-block;
  margin-top: 30px;
  font-weight: 600;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.price_btn:hover {
  background: #3f3eed;
  color: #fff;
}
