.assessment {
    position: relative; 
    width: 100vw; 
    height: 100vh; 
    overflow: hidden; 
  }
  
  .assessment img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
  }
  
  .assessment-text {
    position: absolute; 
    top: 300px; 
    right: 20px; 
    color: white; 
    font-size: 4rem; 
    font-weight: bold; 
    /* background-color: rgba(0, 0, 0, 0.5);  */
    padding: 20px;
    margin-right: 40px;
    border-radius: 5px; 
  }



   
  .assessment {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 20px; 
  }
  
  .assessImg {
    flex: 1; 
    max-width: 30%; 
    margin-left: 40px;
  }
  
  .assessmentImg img {
    width: 100%; 
    height: auto; 
  }
  
  .assessmentPara {
    padding-left: 30px;
    padding-top: 20px;
    flex: 1; 
    margin-left: 20px; 
    margin-right: 40px;
  }
  
  .assessmentPara h1 {
    font-weight: 800;
  }
  
  .text-black {
    color: black; 
  }
  




  