.resultTime {
    position: relative; 
    width: 100vw; 
    height: 100vh; 
    overflow: hidden; 
  }
  
  .resultTime img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
  }
  
  .result-text {
    position: absolute; 
    /* top: 300px;  */
    right: 20px; 
    color: black; 
    font-size: 4rem; 
    font-weight: bold; 
    /* background-color: rgba(0, 0, 0, 0.5);  */
    padding: 20px;
    margin-right: 40px;
    border-radius: 5px; 
  }



   
  .result {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 20px; 
  }
  
  .resultImg {
    flex: 1; 
    max-width: 40%; 
  }
  
  .resultImg img {
    width: 100%; 
    height: auto; 
  }
  
  .resultPara {
    padding-top: 20px;
    flex: 1; 
    margin-left: 20px; 
    margin-right: 40px;
  }
  
  .resultPara h1 {
    font-weight: 800;
  }
  
  .text-black {
    color: black; 
  }
  




  