.blog_search {
  background: #fff;
  box-shadow: 0px 0px 150px 0px rgba(78, 67, 250, 0.06);
  padding: 10px;
  border: 1px solid #ededed;
}
.blog_search input {
  background: #f4f4f4;
  border: 1px solid #f4f4f4;
  border-radius: 0;
  color: #232434;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 60px;
  outline: 0 none;
}
.blog_search input:focus {
  box-shadow: none;
}
/*START NEWSLETTER FORM*/
.newsletter-form {
  background: #3f3eed;
  padding: 40px;
  border-radius: 10px;
}
.newsletter-form h4 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 24px;
  line-height: 34px;
}
.newsletter-form p {
  color: #fff;
  margin-bottom: 30px;
}
.newsletter-form input {
  width: 100%;
  margin-bottom: 20px;
  height: 50px;
  padding: 10px;
  color: #232434;
  border-radius: 2px;
  border: 0px;
}
.newsletter-form input:focus {
  box-shadow: none;
}
.subscribe button {
  border: none;
  width: 100%;
}

.sub_btn {
  background: #ffe06f;
  border: 2px solid #ffe06f !important;
  color: #232434;
  font-size: 16px;
  padding: 14px 40px;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 100px;
  display: inline-block;
  font-weight: 600;
}
.sub_btn:hover,
.sub_btn:focus {
  background: #3f3eed;
  border: 2px solid #ffe06f;
  color: #fff;
}
/*END NEWSLETTER FORM*/

/*Popular post*/
.sidebar_title {
}
.sidebar_title h4 {
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ffe06f;
}
.sidebar-post {
  background: #151a32;
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 30px;
  box-shadow: 0px 0px 150px 0px rgba(78, 67, 250, 0.06);
  border: 1px solid #151a32;
}
.single_popular {
  margin-bottom: 20px;
  overflow: hidden;
}
.single_popular:last-child {
  margin-bottom: 0;
}
.single_popular a img {
  width: 80px;
  height: 60px;
  float: left;
  margin-right: 10px;
  border-radius: 6px;
}
.single_popular h5 a {
  color: #fff;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-weight: 500;
}
.single_popular h5 a:hover {
  color: #ffe06f;
}
/*End Popular post*/

/*Start Social media*/
.single_social {
}
.social_item {
  padding: 8px 12px;
  border-radius: 4px;
}
.single_social ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat(2, minmax(0, 1fr));
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  list-style: none;
  -ms-grid-columns: minmax(0, 1fr) 10px minmax(0, 1fr);
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.single_social ul li {
}
.single_social ul li a {
}
.single_social ul li a i {
  color: #fff;
  font-size: 12px;
}
.item-list {
  float: right;
  color: #fff;
  font-size: 13px;
}

.b_facebook {
  background: #1a4fc5;
}
.b_twitter {
  background: #00acee;
}
.b_youtube {
  background: #f50000;
}
.b_pinterest {
  background: #e62e3f;
}
.b_tumblr {
  background: #34526f;
}
.b_rss {
  background: #e8a50e;
}

/*End Social media*/

/*Start category*/
.single_category {
  overflow: hidden;
}
.item-category {
  padding: 8px 12px;
  border-radius: 4px;
  background: #f2f2f2;
}
.single_category ul {
}
.single_category ul li {
  line-height: 32px;
  float: left;
  margin: 10px;
}
.single_category ul li a {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline;
}
.single_category ul li a sup {
  color: #ffe06f;
}
/*End category*/
.tag {
  overflow: hidden;
}
.tag a {
  background: #ffe06f;
  border: 1px solid #ffe06f;
  border-radius: 30px;
  color: #232434;
  display: block;
  float: left;
  font-size: 14px;
  font-weight: 700;
  margin: 6px 4px;
  padding: 3px 20px;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.tag a:hover {
  background: #3f3eed;
  color: #fff;
  border: 1px solid #3f3eed;
}
.sidebar-banner img {
  width: 100%;
}
/*START SINGLE BLOG PAGE DESIGN*/
