/* Styling for the banner section */
.home_bg {
  height: 100vh; /* Set height to fill the entire viewport height */
  position: relative;
  overflow: hidden;  /*Prevent overflow of content */

}

@media only screen and (max-width: 480px) {
  .home_bg {
    height: 100vh; /* Keep it 100% of the viewport height for mobile devices as well */
  }
}

/* Center content within the banner */
.about_me_content {
  padding-top: 250px;
  position: relative;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .about_me_content {
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 200px; /* Adjust padding for tablets */
  }
}

.about_me_content h1 {
  font-size: 58px;
  font-weight: 900;
  text-transform: capitalize;
  line-height: 70px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 880px) {
  .about_me_content h1 {
    font-size: 40px;
    line-height: 50px;
  }
}

.about_me_content h1 span {
  color: transparent;
  padding: 0 !important;
  -webkit-text-stroke: 1px #ffe06f;
}

.about_me_content h1 b {
  font-size: 58px;
  font-weight: 900;
  text-transform: capitalize;
}

.about_me_content p {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 18px;
  width: 70%;
  margin: auto;
}

/* Button styles */
.home_btn {
  position: relative;
}

@media only screen and (max-width: 480px) {
  .home_btn {
    margin-top: 30px;
    margin-left: 30px;
  }
}

.home_one {
  background: #ffe06f;
  border: 1px solid #ffe06f;
  border-radius: 5px;
  color: #232434;
  font-size: 18px;
  padding: 14px 40px;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
  font-weight: 700;
  display: inline-block;
}

.home_one:hover,
.home_one:focus {
  background: #3f3eed;
  border: 1px solid #3f3eed;
  color: #fff;
  box-shadow: 10px 15px 18px rgba(23, 23, 36, 0.1);
}

/* Profile image styling */
.profile_img {
  padding-top: 200px;
}

@media only screen and (max-width: 812px) {
  .profile_img {
    padding-top: 100px;
    text-align: center;
  }
}

.profile_img img {
  width: 100%;
  max-width: 150px; /* Adjust size of the profile image */
  border-radius: 50%;
}

/* Social media links */
.home_socials ul {
  list-style: none;
  padding: 0;
}

.home_socials ul li {
  display: inline-block;
}

.home_socials ul li a {
  color: #1b1e22;
  margin-right: 15px;
  font-size: 20px;
  transition: 0.3s;
}

.home_socials ul li a:hover {
  color: #6138bd;
}

/* Video background responsiveness */
.home_bg video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  object-fit: cover; /* This ensures the video covers the entire screen while maintaining the aspect ratio */
  z-index: -1;
  overflow: hidden; /* Prevents overflow from the edges */
}

@media only screen and (max-width: 768px) {
  .home_bg video {
    object-fit: cover; /* Ensures video still fills the screen on smaller devices */
  }
}
